html, body{
    height: 95%;
    margin: 0;
}

.final__register-wrapper{
    background-image: -webkit-linear-gradient(135deg, #0eeff0 30%, #088f90 90%);
    background-image: linear-gradient(135deg, #0eeff0 30%, #088f90 90%);
    position: relative;
    z-index:1;
    padding: 5% 22% 0 22%;
    min-height: 100%;
    color: #999;
}

.final__register-wrapper *{
    box-sizing: border-box;
}

.final__register-wrapper form input{
    display: inline-block;
    width: 80%;
    margin: 0 15% 0 15%;
    margin-left: 10%;
    margin-right: 5%;
    line-height: 50px;
    background: rgb(239, 239, 239);
    border: solid 1px #e6e6e6;
    border-bottom-width: 4px;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-align: center;
    outline: #999;
    font-family: 'Josefin Slab', serif;
    font-size: 24px;
    color: rgb(18, 18, 18);
}

.final__register-wrapper form input:not(:last-child){
    margin-bottom: 20px;
}

.final__register-wrapper form input[type="email"]:focus,
.final__register-wrapper form input[type="email"]:active,
.final__register-wrapper form input[type="password"]:focus,
.final__register-wrapper form input[type="password"]:active{
    border-color: #ccc;
}

.final__register-wrapper form input[type="submit"] {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 20px;
    background-color: #f2395a;
    background-size: 20px 20px;
    background-image: -webkit-linear-gradient(
                                            45deg,
                                            rgba(255,255,255,0.1) 25%,
                                            rgba(0,0,0,0) 25%,
                                            rgba(0,0,0,0) 50%,
                                            rgba(255,255,255,0.1) 50%,
                                            rgba(255,255,255,0.1)75%,
                                            rgba(0,0,0,0) 75%,
                                            rgba(0,0,0,0)
                                               );
    border: solid 1px #f02146;
    border-bottom-width: 3px;
    color: white;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'Righteous', cursive;
    font-size: 23px;
}

.final__register-wrapper form input[type="submit"]:hover {
    background-size: 40px 40px;
    box-shadow: -1px 2px #f02146;
}

.final__register-title{
    font-size: 35px;
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 0 20px;
    text-shadow:-1px 1px rgb(108, 108, 108),
                -1px 3px rgb(141, 141, 141),
                -1px 1px rgb(255, 255, 255),
                -2px 5px rgb(108, 108, 108);
    color: #ccc;
}

p{
    text-align: center;
    font-size: 23px;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    margin: -30px 10px 50px 10px;
    color: rgb(141,141,141);
}

.final__register-block {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px 60px 20px;
    background: white;
    box-shadow: 0 0 70px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.final__register-block::before,
.final__register-block::after{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    display: block; 
    width: 100%;
    height: 100%;
    content: "";
    background: white;
    border: solid 2px #e6e6e6;
    border-radius: 10px;
    -webkit-transform: scale(0.9) translate(0,0);
            transform: scale(0.9) translate(0,0);
    transition: all 0.3s ease;
}

.final__register-block:hover::after {
    transition-delay: 0.2s;
}

.final__register-block:hover::before {
    -webkit-transform: scale(0.96) translate(0,16px);
            transform: scale(0.96) translate(0,16px);
    z-index: -1.5;
}

.final__register-block:hover::after {
    -webkit-transform: scale(0.93) translate(0,32px);
            transform: scale(0.93) translate(0,32px);
    z-index: -2;
}

.final__register-block:hover {
    box-shadow: 2px 2px 15px rgb(179, 179, 179);
    border-block: solid 2px #e6e6e6;
}

.final__register-wrapper::after{
    content: "";
    display: block;
}





@media screen and (max-width: 739px) {
    .final__register-block form input{
        font-size: 20px;
    }

    .final__register-wrapper{
        padding: 15% 10% 90% 15%;
    }
}

@media screen and (max-width: 418px) {
    .final__register-wrapper{
        padding: 25% 10% 90% 15%;
    }

    .final__register-wrapper form input{
        width: 98%;
        margin-left: 2%;
    }

    .final__register-wrapper form input[type="submit"] {
        font-size: 18px;
        padding: 0 20px;
    }

    .final__register-title {
        font-size: 30px;
    }

    p{
        font-size: 20px;
        margin-left: -17px;
        margin-right: -17px;
    }
}